modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[deployment]
deploymentTarget = "gce"
build = ["npm", "run", "build"]
run = ["node", "./dist/index.cjs"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
mockupState = "FULLSTACK"

[userenv]

[userenv.shared]
DATABASE_URL = "postgresql://neondb_owner:npg_Y80OlBxsHpGc@ep-lingering-pond-ah0iwnzn-pooler.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
ADMIN_BOOTSTRAP_KEY = "Miemployaclk780424$"
PAYSTACK_PUBLIC_KEY = "pk_live_170242a5660ebf71127fa5231c70e4945cc55788"

[userenv.production]
APP_URL = "https://miauditops.com"
NODE_ENV = "production"
